$color1: #000000;
$color2: #744bfc;
$color3: #ffffff;
$color4: #eff2ff;
$color5: #c1c1c1;
$color6: #c4cee5;

/* BOOTSTRAP */
$primary: $color2;
$secondary: $color4;
$font-family-sans-serif: "Poppins";
$navbar-light-color: $color1;
$navbar-light-hover-color: $color2;
