@use "../../../assets/scss/variables" as v;
@use "../../../assets/scss/mixins" as m;

.datagrid {
  background-color: v.$color4;
  border-radius: 6px;
  margin: 0 29px;
  margin-bottom: 40px;

  span.show {
    position: relative;
    bottom: 44px;
    left: 20px;
    color: v.$color2;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    @media (max-width: 382px) {
      display: none;
    }
  }

  .topbar {
    @include m.flexbox(row, space-between);
    position: relative;
    top: 50px;
    z-index: 999;
    margin-left: 15rem;

    @media (min-width: 332px) and (max-width: 480px) {
      margin-left: 12rem;
    }

    @media (max-width: 332px) {
      margin-left: 9rem;
    }

    button {
      border-radius: 39px;
      white-space: nowrap;
      margin-left: 1rem;

      @media (max-width: 576px) {
        margin-bottom: 1rem;
      }
    }

    .topbar-left {
      position: relative;
      @include m.flexbox(row, center, center);

      .search-icon {
        position: absolute;
        right: 48px;
        top: 50%;
        transform: translateY(-50%);
        background-color: v.$color2;
        height: 100%;
        padding: 0 0.5rem;
        border-radius: 0 39px 39px 0;
        width: 2.5rem;
        color: v.$color3;

        @media (min-width: 480px) and (max-width: 576px) {
          right: 50px;
          top: 19px;
          height: 38px;
        }

        @media (min-width: 332px) and (max-width: 480px) {
          right: 2px;
          top: 19px;
          height: 38px;
        }

        @media (max-width: 332px) {
          right: -5px;
          top: 19px;
          height: 38px;
        }
      }

      .filter-icon {
        cursor: pointer;
        position: relative;
        left: 10px;
        align-items: center;
        color: v.$color2;
        background-color: v.$color3;
        width: 3rem;
        height: 38px;
        padding: 0.2rem 0.4rem;
        border-radius: 999px;
      }
    }
  }

  .dx-widget {
    background-color: v.$color4;

    .dx-datagrid-header-panel {
      background-color: v.$color4;
    }

    .dx-toolbar-items-container {
      background-color: v.$color4;
    }

    .dx-page-sizes {
      margin-left: 78px;

      @media (max-width: 382px) {
        margin-left: 13px;
      }

      .dx-texteditor-input-container {
        &::after {
          content: "rows";
        }

        .dx-texteditor-input {
          padding-left: 0.9rem;
        }
      }

      .dx-selectbox {
        border-radius: 39px !important;
        width: 90px !important;
      }

      .dx-dropdowneditor-icon {
        border-radius: 39px;
      }
    }

    .dx-datagrid-headers {
      table {
        tbody {
          tr {
            td {
              height: 65px;
              padding: 21px 52px;
              border-color: v.$color6;

              .dx-datagrid-text-content {
                font-weight: 500;
                font-size: 13px;
                line-height: 20px;
                color: v.$color1;
              }

              &:first-child {
                width: 20rem;

                @media (max-width: 440px) {
                  width: 40vw;
                  padding-left: 10px;
                }
              }

              &:nth-child(2) {
                width: 15rem;
              }
            }
          }
        }
      }
    }

    .dx-datagrid-rowsview {
      table {
        tbody {
          tr {
            &:nth-child(even) {
              background-color: v.$color4;
            }

            td {
              border-color: v.$color6;
              padding: 33px 57px;
              height: 65px;
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              color: v.$color1;

              &:first-child {
                width: 20rem;

                @media (max-width: 440px) {
                  width: 40vw;
                  padding-left: 10px;
                }
              }

              &:nth-child(2) {
                width: 15rem;
              }
            }
          }
        }
      }
    }

    .dx-next-button,
    .dx-prev-button {
      color: v.$color2;
    }

    .dx-button-disable {
      color: v.$color5;
    }
    .dx-toolbar-items-container {
      position: relative;

      .dx-toolbar-after {
        position: absolute;
        top: -5px;
        left: -30px;
        z-index: 99;

        .dx-datagrid-search-panel {
          border-radius: 39px;
          padding: 2px 0;
          width: 240px !important;

          @media (min-width: 332px) and (max-width: 576px) {
            width: 190px !important;
          }

          @media (max-width: 332px) {
            width: 150px !important;
          }
        }

        .dx-icon {
          display: none;
        }
      }
    }
  }
}

.modal {
  input {
    border-radius: 38px;
  }

  label {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }

  button {
    border-radius: 34px;
    padding: 9px 16px !important;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;

    &:first-child {
      color: v.$color2;
    }
  }
}
